# Ignore les fichiers temporaires et de développement
**/.git
**/.gitignore
**/node_modules
**/npm-debug.log
**/.env
**/target
**/.idea
**/.vscode

# Ignore le frontend (on ne l'ignore plus car on veut le builder via Docker Compose)
# audit-ui/
